<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 500px;
    max-width: 100%;
  }
  </style>
  
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  
  <!-- Chart code -->
  <script>
  am5.ready(function() {
  
  function getData() {
    return JSON.parse('#AM_OHLCV_DATA#')
  }

  function getBacktestData() {
    return JSON.parse('#AM_OHLCV_BACKTESTDATA#')
  }

  function getValueAxis(chart) {
  // Create axes
  // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
  var valueAxisRenderer = am5xy.AxisRendererY.new(root, {
    inside: false
  });
  valueAxisRenderer.labels.template.setAll({
    centerY: am5.percent(100),
    maxPosition: 0.98
  });
  var valueAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
    renderer: valueAxisRenderer,
    height: am5.percent(70)
  }));
  valueAxis.axisHeader.children.push(am5.Label.new(root, {
    fontWeight: "bold",
    paddingBottom: 5,
    paddingTop: 5
  }));
  return valueAxis;
}

function getVolumeAxis(chart) {
  var volumeAxisRenderer = am5xy.AxisRendererY.new(root, {
    inside: true
  });
  volumeAxisRenderer.labels.template.setAll({
    centerY: am5.percent(100),
    maxPosition: 0.98
  });
  var volumeAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {  
    renderer: volumeAxisRenderer,
    height: am5.percent(30),
    layer: 5,
    numberFormat: "#a"
  }));
  volumeAxis.axisHeader.set("paddingTop", 10);
  volumeAxis.axisHeader.children.push(am5.Label.new(root, {
    fontWeight: "bold",
    paddingTop: 5,  
    paddingBottom: 5
  }));
  return volumeAxis;
}

function getDateAxis(chart) {
  var dateAxisRenderer = am5xy.AxisRendererX.new(root, {});
  dateAxisRenderer.labels.template.setAll({
    minPosition: 0.01,
    maxPosition: 0.99,
    minGridDistance: 40
  });
  var dateAxis = chart.xAxes.push(am5xy.GaplessDateAxis.new(root, {
    groupData: true,
    //groupCount: 20,
    baseInterval: { timeUnit: "day",  count: 1 },
    renderer: dateAxisRenderer
  }));
  dateAxis.set("tooltip", am5.Tooltip.new(root, {}));
  return dateAxis;
}

function getOhlcvSeries(name, chart, xaxis, yaxis) {
  // Add series
  // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
  var ohlcvSeries = chart.series.push(
    am5xy.CandlestickSeries.new(root, {
      fill: color,
      clustered:false,
      calculateAggregates: true,
      stroke: color,
      name: name,
      xAxis: xaxis,
      yAxis: yaxis,
      valueYField: "Close",
      openValueYField: "Open",
      lowValueYField: "Low",
      highValueYField: "High",
      valueXField: "Date",
      lowValueYGrouped: "low",
      highValueYGrouped: "high",
      openValueYGrouped: "open",
      valueYGrouped: "close",
      legendValueText: "open: {openValueY} low: {lowValueY} high: {highValueY} close: {valueY}",
      legendRangeValueText: "{valueYClose}"
    })
  );

  ohlcvSeries.columns.template.states.create("riseFromOpen", {
    fill: am5.color(0xffffff),
    stroke: am5.color(0x000000)
  });

  ohlcvSeries.columns.template.states.create("dropFromOpen", {
    fill: am5.color(0x000000),
    stroke: am5.color(0x000000)
  });

  /*
  var valueTooltip = ohlcvSeries.set("tooltip", am5.Tooltip.new(root, {
    getFillFromSprite: false,
    getStrokeFromSprite: true,
    getLabelFillFromSprite: true,
    autoTextColor: false,
    pointerOrientation: "horizontal",
    labelText: "{name}: {valueY} {valueYChangePreviousPercent.formatNumber('[#00ff00]+#,###.##|[#ff0000]#,###.##|[#999999]0')}%"
  }));
  valueTooltip.get("background") .set("fill", root.interfaceColors.get("background"));
  */

  return ohlcvSeries;
}

function getVolumeSeries(chart, xaxis, yaxis) {
  var volumeSeries = chart.series.push(am5xy.ColumnSeries.new(root, {
    clustered:false,
    name: "volume",
    fill: firstColor,
    stroke: firstColor,
    valueYField: "Volume",
    valueXField: "Date",
    valueYGrouped: "sum",
    xAxis: xaxis,
    yAxis: yaxis,
    legendValueText: "{valueY}",
    tooltip: am5.Tooltip.new(root, {
      labelText: "{valueY}"
    })
  }));

  volumeSeries.columns.template.setAll({
    //strokeWidth: 0.5,
    //strokeOpacity: 1,
    //stroke: am5.color(0xffffff)
  });

  var volumeLegend = yaxis.axisHeader.children.push(
    am5.Legend.new(root, {
      useDefaultMarker: true
    })
  );
  volumeLegend.data.setAll([volumeSeries]);
  return volumeSeries;
}

function getSbSeries(chart) {
  // Add scrollbar
  // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
  var scrollbar = chart.set("scrollbarX", am5xy.XYChartScrollbar.new(root, {
    orientation: "horizontal",
    height: 50
  }));
  var sbDateAxis = scrollbar.chart.xAxes.push(am5xy.GaplessDateAxis.new(root, {
    groupData: false,
    groupIntervals: [{
      timeUnit: "week",
      count: 1
    }],
    baseInterval: {
      timeUnit: "day",
      count: 1
    },
    renderer: am5xy.AxisRendererX.new(root, {})
  }));

  var sbValueAxis = scrollbar.chart.yAxes.push(
    am5xy.ValueAxis.new(root, {
      renderer: am5xy.AxisRendererY.new(root, {})
    })
  );

  var sbSeries = scrollbar.chart.series.push(am5xy.LineSeries.new(root, {
    valueYField: "Close",
    valueXField: "Date",
    xAxis: sbDateAxis,
    yAxis: sbValueAxis
  }));

  sbSeries.fills.template.setAll({
    visible: true,
    fillOpacity: 0.3
  });
  return sbSeries;
}

function setLineSeries(name, chart, xaxis, yaxis, data) {
  var series = chart.series.push(am5xy.LineSeries.new(root, {
    name: name,
    xAxis: xaxis,
    yAxis: yaxis,
    legendValueText: name + ": {valueY}",
    valueYField: name,
    valueXField: "Date",
    tooltip: am5.Tooltip.new(root, {
      labelText: name
    })
  }));
  // Process data (convert dates and values)
  series.data.processor = am5.DataProcessor.new(root, {
    dateFields: ["Date"],
    //dateFormat: "yyyy-MM-dd",
    numericFields: [name]
  });
  processor.processMany(data);
    series.data.setAll(data);
    let valueTooltip = series.set("tooltip", am5.Tooltip.new(root, {
      getFillFromSprite: false,
      getStrokeFromSprite: true,
      getLabelFillFromSprite: true,
      autoTextColor: false,
      pointerOrientation: "horizontal",
      labelText: "{name}: {valueY}"
    }));
  valueTooltip.get("background") .set("fill", root.interfaceColors.get("background"));
  return [series];
}

function setScatterSeries(name, chart, xaxis, yaxis, data) {
  var color = 0x3386FF //blue
  var series = chart.series.push(am5xy.LineSeries.new(root, {
    calculateAggregates: true,
    xAxis: xaxis,
    yAxis: yaxis,
    valueYField: name,
    valueXField: "Date",
    tooltip: am5.Tooltip.new(root, {
      labelText: "x: {valueX} y:{valueY}"
    })
  }));

  var bullet = series.bullets.push(function() {
      var circle = am5.Circle.new(root, {
        radius: 2,
        fill: am5.color(color),
        stroke: am5.color(color),
        strokeWidth: 1
      })

      return am5.Bullet.new(root, {
        sprite: circle
      })
    }
  )

  series.strokes.template.set("strokeOpacity", 0);
  series.data.setAll(data);
}

function setIndicatorSeries(name, chart, xaxis, yaxis, data) {
  switch(data["chart_type"]){
    case "line":
      setLineSeries(name, chart, xaxis, yaxis, data["values"]);
      break;
    case "zigzag":
      setLineSeries(name, chart, xaxis, yaxis, data["values"]["main"]);
      setScatterSeries(name, chart, xaxis, yaxis, data["values"]["middle"]);
      break;
    case "ichimoku":
      setLineSeries("tenkan", chart, xaxis, yaxis, data["values"]["tenkan"]);
      setLineSeries("kijun", chart, xaxis, yaxis, data["values"]["kijun"]);
      setLineSeries("senkou1", chart, xaxis, yaxis, data["values"]["senkou1"]);
      setLineSeries("senkou2", chart, xaxis, yaxis, data["values"]["senkou2"]);
      setLineSeries("chikou", chart, xaxis, yaxis, data["values"]["chikou"]);
      break;
  }
  /*
  for (let i=0; i<series.length; i++) {
    processor.processMany(data["values"]);
    series[i].data.setAll(data["values"]);
    let valueTooltip = series[i].set("tooltip", am5.Tooltip.new(root, {
      getFillFromSprite: false,
      getStrokeFromSprite: true,
      getLabelFillFromSprite: true,
      autoTextColor: false,
      pointerOrientation: "horizontal",
      labelText: "{name}: {valueY}"
    }));
    valueTooltip.get("background") .set("fill", root.interfaceColors.get("background"));
  }
  */
} 

function setBacktestSeries(chart, xaxis, yaxis, data) {
  //var bulletShape = nil
  var color = 0x32CD32 //blue
  if (data["side"] == -1) {
    color = 0xFF3633 //red   
  } 

  var series = chart.series.push(am5xy.LineSeries.new(root, {
    name: "trades",
    xAxis: xaxis,
    yAxis: yaxis,
    valueYField: "Price",
    stroke: am5.color(color, alpha=.5),
    alpha: .5,
    valueXField: "Date",
    strokeWidth: 3,
    strokeOpacity: 0.2,
    tooltip: am5.Tooltip.new(root, {
      pointerOrientation: "horizontal",
      labelText: "{valueY}",
      fill: am5.color(0xFFFFFF),
      stroke: am5.color(0x000000)
      })
  }));

  var bullet = series.bullets.push(function() {
      var circle = am5.Circle.new(root, {
        radius: 4,
        fill: am5.color(color),
        stroke: am5.color(color),
        strokeWidth: 2
      })

      return am5.Bullet.new(root, {
        sprite: circle
      })
    }
  )

  var open = data["open"]
  var close = data["close"]

  points = [
    {
      "Date": open["epoch"],
      "Price": open["price"]
    },
    {
      "Date": close["epoch"],
      "Price": close["price"]
    }
  ]

  series.data.setAll(points);
  //https://codepen.io/team/amcharts/pen/ajPdwB
}



  
  // Create root element
  // https://www.amcharts.com/docs/v5/getting-started/#Root_element
  var root = am5.Root.new("chartdiv");
  
  
  // Set themes
  // https://www.amcharts.com/docs/v5/concepts/themes/
  root.setThemes([
    am5themes_Animated.new(root)
  ]);
  
  
  // Create chart
  // https://www.amcharts.com/docs/v5/charts/xy-chart/
  var chart = root.container.children.push(am5xy.XYChart.new(root, {
    panX: true,
    panY: false,
    wheelX: "panX",
    wheelY: "zoomX",
    //layout: root.verticalLayout,
    pinchZoomX:true
  }));
  
  chart.get("colors") .set("step", 2);

  var data = getData();
  var codename = data["codename"]
  var granularity = data["granularity"]

  var valueAxis = getValueAxis(chart);
  var volumeAxis = getVolumeAxis(chart);
  var dateAxis = getDateAxis(chart);

  var color = root.interfaceColors.get("background");
  
  var ohlcvSeries = getOhlcvSeries(codename + " - " + granularity, 
    chart, dateAxis, valueAxis)
  
  var firstColor = chart.get("colors") .getIndex(0);
  
  var volumeSeries = getVolumeSeries(chart, dateAxis, volumeAxis);
  var sbSeries = getSbSeries(chart);
  
  // Add legend to axis header
  // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/axis-headers/
  // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
  var valueLegend = valueAxis.axisHeader.children.push(
    am5.Legend.new(root, {
      useDefaultMarker: true
    })
  );
  valueLegend.data.setAll([ohlcvSeries]);
  
  // Stack axes vertically
  // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/#Stacked_axes
  chart.leftAxesContainer.set("layout", root.verticalLayout);
  
  
  // Add cursor
  // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
  chart.set("cursor", am5xy.XYCursor.new(root, {}))
  
  
  
  // Process data (convert dates and values)
  var processor = am5.DataProcessor.new(root, {
    dateFields: ["Date"],
    //dateFormat: "yyyy-MM-dd",
    numericFields: ["Open", "High", "Low", "Close", "Volume"]
  });
  processor.processMany(data["ohlcv"]);
  
  // Set data
  ohlcvSeries.data.setAll(data["ohlcv"]);
  volumeSeries.data.setAll(data["ohlcv"]);
  sbSeries.data.setAll(data["ohlcv"]);
  
  var btdata = getBacktestData()
  for (let orderId in btdata) {
    console.log(btdata[orderId])
    setBacktestSeries(chart, dateAxis, valueAxis, btdata[orderId])
  }
  

  if ("indicators" in data) {
    for (let indi_name in data["indicators"]) {
      let indi_data = data["indicators"][indi_name];
      console.log(indi_data)
      setIndicatorSeries(indi_name, 
          chart, dateAxis, valueAxis, indi_data);
    }
  }

  // Make stuff animate on load
  // https://www.amcharts.com/docs/v5/concepts/animations/
  chart.appear(1000, 100);
  
  }); // end am5.ready()
  </script>
  
  <!-- HTML -->
  <div id="chartdiv"></div>