
<!DOCTYPE html>
<html>
<head>
    <title>chart preparation</title>
</head>
<body>
    <div id="message">
        <h3>Input the chart data to show in JSON format</h3>
    </div>
    <div id="form">
        <form method="post" action="/chart">
            <div id="text"></div>
                <textarea name="chartparams" rows="30" cols="100">
#CHART_DEFAULT_JSON#
                </textarea>
            <div id="button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>